.footer_card {

    justify-content: start !important;
    max-height: 100px !important;
    min-height: 99px !important;
}

.bg-blur {
    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(10px); 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

.footer {
    background-color: #a1a1a1;
    color: white;
    height: 100px;
}

